header { 
	font-family: Georgia; 
	text-align: left;
	border-bottom: 1px solid black;
}
footer { 
	position: absolute;
	border-top: 1px solid black; 
	bottom: 5px;
	height: 15px;
	width: 98%;
	text-align: right;
	background: #f0f0f0;
}
label { font-family: Georgia; }
a { font-family: Georgia; }
form { position: inherit; }

.book_info { 
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.inline { 
	display: inline-block;
}
.cover{
    width: 100px;
    align: left;
}
.title {
	font-family: Georgia; 
	font-weight: bold;
	padding-left: 10px;
}	
.authors {
	font-family: Verdana; 
	font-size: medium;
	padding-left: 10px;
}
.year {
	font-family: Georgia;
	font-size: medium;
	padding-left: 10px;
}
.price {
	font-family: Georgia;
	font-size: medium;
	font-weight: bold;
	padding-left: 10px;
}
.button {
	position: relative;
	width: 155px;
	right: 5px;
}
#user_profile {
	width: 30%;
	border-right: 1px solid black;
}
#books_all {
	position: relative;
}
	