header { 
	font-family: Georgia; 
	text-align: left;
	border-bottom: 1px solid black;
}
footer { 
	position: absolute;
	border-top: 1px solid black; 
	bottom: 5px;
	height: 15px;
	width: 98%;
	text-align: right;
	background: #f0f0f0;
}
label { font-family: Georgia; }
a { font-family: Georgia; }
form { position: inherit; }

.inline { display: inline-block; }

.cover {
	width: 82px;
}

.button {
	position: relative;
	width: 155px;
	right: 5px;
}
#user_profile {
	width: 30%;
	border-right: 1px solid black;
}
#books_all {
	position: relative;
}
	